{% load crispy_forms_tags %}
{% include 'header.html' %}
<body class="hold-transition login-page">
<div class="login-box">
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Reset Password</p>

 <form method="post">
    {% csrf_token %}
      <div class="form-group has-feedback">
     {{form | crispy }}
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Reset Password</button>
        </div>
        <!-- /.col -->
      </div>
    </form>


  </div>
</div>
{% include 'footer.html' %}
